# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
#also the base data files in res://humanizer (default body and macros)
/humanizer    !export-ignore
/humanizer/** !export-ignore
